<div class="row row-overide">
    {{> info-boxes }}
</div>

<div class="row row-overide">
    <div class="col-sm-12">

        <div class="panel panel-default app_table">
            <div class="panel-body">
                <table id="main_app_table" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th rowspan="2">Application / Service</th>
                        <th rowspan="2">Type</th>
                        <th colspan="3">Average request count</th>
                        <th rowspan="2">Total number of requests</th>
                        <th rowspan="2">Percentage error</th>
                    </tr>
                    <tr>
                        <th>Last minute</th>
                        <th>Last hour</th>
                        <th>Last Day</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="row row-overide">

    {{>request-panel}}
    {{>response-panel}}
    {{>error-panel}}

</div>