<div class="row row-overide">
    {{> info-boxes }}
</div>

<div class="row row-overide">
    <div class="col-sm-12">

        <div class="panel panel-default app_table">
            <div class="panel-body">
                <div class="gadget-holder" data-gadget="data-table" data-type="apps" id="apps-list" style="height: 300px"></div>
            </div>
        </div>
    </div>

</div>

<div class="row row-overide">

    {{>request-panel}}
    {{>response-panel}}
    {{>error-panel}}

</div>