{{> header}}
{{> sub-header}}

<div class="row row-overide">
    {{> info-boxes }}

</div>

<div class="row row-overide">

    {{>request-panel}}
    {{>response-panel}}
    {{>error-panel}}

</div>

<script language="javascript">
    $(document).ready(function() {
        $('#main_app_table').dataTable( {
            "ajax" :  '/dashboard/api/as-data.jag?action=apps'
        } );
    } );
</script>

