{{> header}}
{{> sub-header}}

<div class="row row-overide">

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-one panel-stat">
            <div class="panel-heading">

                <div class="statistics">
                    <div class="row">
                        <div class="col-xs-8">
                            <small class="statistics-main">Total Requests</small>
                            <h2>4,243,625</h2>
                        </div>
                        <div class="col-xs-4">

                        </div>
                    </div><!-- row -->
                    <div class="arrow-box"></div>
                    <div class="row">
                        <small class="measure-label">Per min</small>

                        <div class="col-xs-4 panel-bottom-box left-radius box-one-color">
                            <h4>350,100</h4>
                            <small class="stat-label">Max</small>
                        </div>

                        <div class="col-xs-4 line-seperator panel-bottom-box box-one-color">
                            <h4>5100</h4>
                            <small class="stat-label">Avg</small>
                        </div>

                        <div class="col-xs-4 line-seperator panel-bottom-box right-radius box-one-color">
                            <h4>100</h4>
                            <small class="stat-label">Min</small>
                        </div>
                    </div><!-- row -->
                </div><!-- statistics -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-two panel-stat">
            <div class="panel-heading">

                <div class="statistics">
                    <div class="row">
                        <div class="col-xs-8">
                            <small class="statistics-main">Response Time</small>
                            <i class="fa fa-clock-o fa-3x"></i>
                        </div>
                        <div class="col-xs-4">

                        </div>
                    </div><!-- row -->
                    <div class="arrow-box2"></div>
                    <div class="row">
                        <small class="measure-label">ms</small>

                        <div class="col-xs-4 panel-bottom-box left-radius box-two-color">
                            <h4>545</h4>
                            <small class="stat-label">Max</small>
                        </div>

                        <div class="col-xs-4 line-seperator panel-bottom-box box-two-color">
                            <h4>90</h4>
                            <small class="stat-label">Avg</small>
                        </div>

                        <div class="col-xs-4 line-seperator panel-bottom-box right-radius box-two-color">
                            <h4>10</h4>
                            <small class="stat-label">Min</small>
                        </div>
                    </div><!-- row -->
                </div><!-- statistics -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-three panel-stat">
            <div class="panel-heading">

                <div class="statistics">
                    <div class="row">
                        <div class="col-xs-3">
                            <small class="statistics-main">Sessions</small>
                            <i class="fa fa-group fa-3x"></i>
                        </div>
                        <div class="col-xs-9">
                            <span> 23897</span>
                        </div>
                    </div><!-- row -->
                    <div class="arrow-box3"></div>
                    <div class="row">

                        <div class="col-xs-8 panel-bottom-box left-radius box-three-color">
                            <div class="h4-stat-label">Avg per min.</div>
                            <small class="stat-label">&nbsp;</small>
                        </div>

                        <div class="col-xs-4 panel-bottom-box  right-radius  box-three-color">
                            <h4>120</h4>
                            <small class="stat-label">&nbsp;</small>
                        </div>
                    </div><!-- row -->
                </div><!-- statistics -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-four panel-stat">
            <div class="panel-heading">

                <div class="statistics">
                    <div class="row">
                        <div class="col-xs-3">
                            <small class="statistics-main">Errors</small>
                            <i class="fa fa-times-circle fa-3x"></i>

                        </div>
                        <div class="col-xs-9">
                            <span>123</span>
                        </div>
                    </div><!-- row -->
                    <div class="arrow-box4"></div>
                    <div class="row">

                        <div class="col-xs-12 panel-bottom-box  right-radius left-radius  box-four-color">
                            <h4>23%</h4>
                            <small class="stat-label">&nbsp;</small>
                        </div>
                    </div><!-- row -->
                </div><!-- statistics -->

            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

</div>


<div class="row row-overide">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="tabbable tabs-below">
                    <div class="tab-content">
                        <div class="tab-pane active" id="one_">
                            <div class="gadget-holder" data-gadget="stacked-line-chart" data-type="error" id="error-graph" style="height: 300px"></div>
                        </div>
                        <div class="tab-pane" id="two_">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.</div>
                        <div class="tab-pane" id="twee_">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
                    </div>

                </div>
            </div>
            <ul class="nav nav-tabs">
                <li><a href="#one_" data-toggle="tab">Error</a></li>
                <li><a href="#two_" data-toggle="tab">Two</a></li>
                <li><a href="#two_" data-toggle="tab">Three</a></li>
                <li><a href="#twee_" data-toggle="tab">Four</a></li>
                <li><a href="#twee_" data-toggle="tab">Five</a></li>
            </ul>
        </div>

    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="tabbable tabs-below">
                    <div class="tab-content">
                        <div class="tab-pane active" id="one_">Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
                        <div class="tab-pane" id="two_">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.</div>
                        <div class="tab-pane" id="twee_">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
                    </div>

                </div>
            </div>
            <ul class="nav nav-tabs">
                <li><a href="#one_" data-toggle="tab">One</a></li>
                <li><a href="#two_" data-toggle="tab">Two</a></li>
                <li><a href="#two_" data-toggle="tab">Three</a></li>
                <li><a href="#twee_" data-toggle="tab">Four</a></li>
                <li><a href="#twee_" data-toggle="tab">Five</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="row row-overide">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="tabbable tabs-below">
                    <div class="tab-content">
                        <div class="tab-pane active" id="one_">Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
                        <div class="tab-pane" id="two_">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.</div>
                        <div class="tab-pane" id="twee_">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
                    </div>

                </div>
            </div>
            <ul class="nav nav-tabs">
                <li><a href="#one_" data-toggle="tab">One</a></li>
                <li><a href="#two_" data-toggle="tab">Two</a></li>
                <li><a href="#two_" data-toggle="tab">Three</a></li>
                <li><a href="#twee_" data-toggle="tab">Four</a></li>
                <li><a href="#twee_" data-toggle="tab">Five</a></li>
            </ul>
        </div>

    </div>
</div>


