{{> header}}
{{> sub-header}}

<div class="row row-overide">
    {{> info-boxes }}

</div>

<div class="row row-overide">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="tabbable tabs-below">
                    <div class="tab-content">
                        <div class="tab-pane active" id="one_">
                        </div>
                        <div class="tab-pane " id="two_">

                            <div class="gadget-holder" data-gadget="stacked-line-chart" data-type="error" id="error-graph" style="height: 300px"></div>
                            Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.</div>
                        <div class="tab-pane" id="twee_">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
                    </div>

                </div>
            </div>
            <ul class="nav nav-tabs">
                <li><a href="#one_" data-toggle="tab">Error</a></li>
                <li><a href="#two_" data-toggle="tab">Two</a></li>
                <li><a href="#two_" data-toggle="tab">Three</a></li>
                <li><a href="#twee_" data-toggle="tab">Four</a></li>
                <li><a href="#twee_" data-toggle="tab">Five</a></li>
            </ul>
        </div>

    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Top 5 HTTP Response codes
            </div>
            <div class="panel-body">
                <div class="gadget-holder" data-gadget="bar-chart" data-type="top-http-status" id="top-http-status-graph" style="height: 300px"></div>
            </div>
        </div>

    </div>
</div>

<div class="row row-overide">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="tabbable tabs-below">
                    <div class="tab-content">
                        <div class="tab-pane active" id="one_">Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
                        <div class="tab-pane" id="two_">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.</div>
                        <div class="tab-pane" id="twee_">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
                    </div>

                </div>
            </div>
            <ul class="nav nav-tabs">
                <li><a href="#one_" data-toggle="tab">One</a></li>
                <li><a href="#two_" data-toggle="tab">Two</a></li>
                <li><a href="#two_" data-toggle="tab">Three</a></li>
                <li><a href="#twee_" data-toggle="tab">Four</a></li>
                <li><a href="#twee_" data-toggle="tab">Five</a></li>
            </ul>
        </div>

    </div>
</div>


