<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Technology - Browser </h2>
                <div class="gadget-holder pie-chart-inside" data-gadget="pie-chart" data-type="browser" id="browser-graph-detail"></div>
            </div>
        </div>
    </div>
</div>

<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gadget-holder data-table-inside" data-gadget="data-table" data-type="browser-tabular" id="browser-tabular-detail"></div>
            </div>
        </div>
    </div>
</div>
