<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gadget-holder pie-chart-inside" data-gadget="pie-chart" data-type="device-type" id="device-type-graph-detail"></div>
            </div>
        </div>
    </div>
</div>

<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gadget-holder data-table-inside" data-gadget="data-table" data-type="device-type-tabular" id="device-type-tabular-detail"></div>
            </div>
        </div>
    </div>
</div>
