<div class="col-sm-6 col-md-3">
    <div class="gadget-holder" data-gadget="info-box" data-type="request-count" id="info-box" style="height: 183px"></div>
</div><!-- col-sm-6 -->

<div class="col-sm-6 col-md-3">
    <div class="gadget-holder" data-gadget="info-box" data-type="response-count" id="response-info-box" style="height: 183px"></div>
</div><!-- col-sm-6 -->

<div class="col-sm-6 col-md-3">
    <div class="gadget-holder" data-gadget="info-box" data-type="session-count" id="session-info-box" style="height: 183px"></div>
</div><!-- col-sm-6 -->

<div class="col-sm-6 col-md-3">
    <div class="gadget-holder" data-gadget="info-box" data-type="error-count" id="error-info-box" style="height: 183px"></div>
</div><!-- col-sm-6 -->

