{{> header}}
{{> sub-header }}

<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gadget-holder" data-gadget="bar-chart" data-type="language" id="language-graph-detail" style="height: 300px"></div>
            </div>
        </div>
    </div>
</div>

<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gadget-holder" data-gadget="data-table" data-type="language-tabular" id="language-tabular-detail" style="height: 300px"></div>
            </div>
        </div>
    </div>
</div>
