<div class="left-logo">
	<img src="{{url "/themes/theme0/ui/img/as-logo.png"}}">
</div>
<div class="left-content-list">
	<ul class="nav nav-pills nav-as nav-stacked nav-as-margin">
        <li class="nav-parent"><a href=""><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          <ul class="children">
            <li><a href="technology"><i class="fa  fa-dot-circle-o"></i> Technology</a></li>
            <li><a href=""><i class="fa  fa-dot-circle-o"></i> Geo</a></li>
            <li><a href=""><i class="fa  fa-dot-circle-o"></i> Requests</a></li>
            <li><a href=""><i class="fa  fa-dot-circle-o"></i> Top Pages</a></li>
            <li><a href=""><i class="fa  fa-dot-circle-o"></i> Top Content</a></li>
            <li><a href=""><i class="fa  fa-dot-circle-o"></i> Languages</a></li>
          </ul>
        </li>
        
    </ul>
</div>