<div class="left-logo">
	<img src="{{url "/themes/theme0/ui/img/as-logo.png"}}">
</div>
<div class="left-content-list">
	<ul class="nav nav-pills nav-as nav-stacked nav-as-margin">
        <li class="nav-parent"><a href=""><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          <ul class="children">
            <li><a href="browser"><i class="fa  fa-dot-circle-o"></i> Browser</a></li>
            <li><a href="operating-system"><i class="fa  fa-dot-circle-o"></i> Operating System</a></li>
            <li><a href="device-type"><i class="fa  fa-dot-circle-o"></i> Device Type</a></li>
            <li><a href="http-response-codes"><i class="fa  fa-dot-circle-o"></i> HTTP Response Codes</a></li>
            <li><a href="location"><i class="fa  fa-dot-circle-o"></i> Location</a></li>
            <li><a href="language"><i class="fa  fa-dot-circle-o"></i> Language</a></li>
            <li><a href="context"><i class="fa  fa-dot-circle-o"></i> Context</a></li>
            <li><a href="referral"><i class="fa  fa-dot-circle-o"></i> Referral</a></li>
          </ul>
        </li>
        
    </ul>
</div>
