<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gadget-holder" data-gadget="location" data-type="country" id="locaton-map-detail" style="height: 300px"></div>
            </div>
        </div>
    </div>
</div>

<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gadget-holder data-table-inside" data-gadget="data-table" data-type="country-tabular" id="country-tabular-detail"></div>
            </div>
        </div>
    </div>
</div>
