{{> header}}
{{> sub-header }}

<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gadget-holder" data-gadget="pie-chart" data-type="operating-system" id="operating-system-graph-detail" style="height: 300px"></div>
            </div>
        </div>
    </div>
</div>

<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gadget-holder" data-gadget="data-table" data-type="operating-system-tabular" id="operating-system-tabular-detail" style="height: 300px"></div>
            </div>
        </div>
    </div>
</div>
