<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gadget-holder data-table-inside" data-gadget="data-table" data-type="referral" id="referral-tabular-detail"></div>
            </div>
        </div>
    </div>
</div>
