<div class="col-sm-4">
    <div class="panel panel-as">
        <div class="panel-heading panel-heading-as">
            Average response count for the last 24 hours
        </div>
        <div class="panel-body">
            <div class="gadget-holder" data-gadget="stacked-line-chart" data-type="response" id="response-graph" style="height: 300px"></div>
        </div>
    </div>
</div>
