<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Context </h2>
                <div class="gadget-holder  data-table-inside" data-gadget="data-table" data-type="context" id="context-tabular-detail"></div>
            </div>
        </div>
    </div>
</div>
