<div class="col-sm-4">
    <div class="panel panel-as">
        <div class="panel-heading panel-heading-as">
            Average request count
        </div>
        <div class="panel-body">
            <div class="gadget-holder" data-gadget="stacked-line-chart" data-type="request" id="request-graph" style="height: 300px"></div>
        </div>
    </div>
</div>
