<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="gadget-holder" data-gadget="stacked-line-chart" data-type="error" id="error-graph" style="height: 300px"></div>
            </div>
        </div>
    </div>
</div>

<div class="row row-overide">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.</div>
            </div>
        </div>
    </div>
</div>
